
    <main>
      <h1>{{cubeDetails.name}}</h1>
      <img class="cube" src="{{cubeDetails.imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{cubeDetails.description}}</p>
        <p><span>Difficulty level:</span> {{cubeDetails.difficultyLevel}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
